.chat-main
  .chat-main__header
    .chat-main__header__leftbox
      .chat-main__header__leftbox__current 
        = @group.name
      %ul.chat-main__header__leftbox__current__members 
        Member： 
        %li.chat-main__header__leftbox__current__members__members
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .chat-main__header__edit
      = link_to "edit", class: "chat-main__header__edit__btn" do
        Edit
        

  .messages
    = render partial: 'messages', collection: @messages
    
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: "form__mask__image" do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: "hidden"
      = f.submit 'Send', class:"form__submit"

      